body {
    background-color: midnightblue;
}

body {
    color: whitesmoke;
}

.clicked {
    color: gold;
}

.btn {
    cursor: progress;
}

.form, .greetings {
    display: none;
}

.showing {
    display: block;
}